{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Form Layouts</h1>

        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add WhoUse</h5>
                        
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label">Title Uz</label><br>
                                <input name="title_uz" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Title Ru</label><br>
                                <input name="title_ru" type="text">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock content %}